services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: roombooking-db
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - roombooking_db_data:/var/opt/mssql
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: RoomBooking.Web/Dockerfile
    container_name: roombooking-api
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"

      ConnectionStrings__DefaultConnection: "${ConnectionStrings__DefaultConnection}"

      JWT__Key: "${JWT__Key}"
      JWT__Issuer: "${JWT__Issuer}"
      JWT__Audience: "${JWT__Audience}"
      JWT__ExpiresMinutes: "${JWT__ExpiresMinutes}"
    ports:
      - "5135:5135"
    depends_on:
      - db
    restart: unless-stopped

volumes:
  roombooking_db_data:
